@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Raleway:wght@300;400;600;700;900&family=Tilt+Neon&display=swap');

*{
    box-sizing: border-box;

    background-color: #480c4c ;

    font-family: 'Quicksand', sans-serif;
}

h1, p{
    color: #f8d555;
    text-align: center;
}

h1{
    padding-top: 20px;
    font-size: 45px;
    margin: 0px;
}

p{
    margin: 0px;
    /* font-size: 20px; */
}

#question{
    font-size: 30px;
    margin: 10px;
}

a{
    /* COLORS */
    text-decoration: none;

    /* TEXT */
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
    
    /* SHAPE */
    display: block;
    height: 200px;
    margin: 15px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}

#emergency{
    background-color: #E84855;
    color: #331a3e;
}

#emergency:hover{
    background-color: #B83B45;
}

#exploring{
    font-size: 35px;
    background-color: #3e92cc;
    padding-top: 50px;
    color: #331a3e;
}

#exploring:hover{
    background-color: #005667;
}


/* JUST EXPLORING PAGE */

h3{
    color: #f8d555;
    text-align: center;
    margin: 10px 30px;
}

#stroke{
    color: #e84855;
    margin-left: 40px;
    margin-right: 40px;
}

#anaphylactic-shock{
    color: #439a86;
    margin-left: 40px;
    margin-right: 40px;
}

#extreme-headache{
    color: #007991;
    margin-left: 40px;
    margin-right: 40px;
}

#heart-attack{
    color: #f8d555;
    margin-left: 40px;
    margin-right: 40px;
}

ul{
    margin-top: 0px;
}

div h2{
    margin-bottom: 0px;
}
