@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Raleway:wght@300;400;600;700;900&family=Tilt+Neon&display=swap');

*{
    box-sizing: border-box;

    background-color: #480c4c ;

    font-family: 'Quicksand', sans-serif;
}

h1, p{
    color: #f8d555;
    text-align: center;
}

h1{
    padding-top: 20px;
    font-size: 45px;
    margin: 0px;
}

p{
    margin: 0px;
    /* font-size: 20px; */
}

#question{
    font-size: 30px;
    margin: 10px;
}

button, a{
    /* COLORS */
    text-decoration: none;

    /* TEXT */
    text-align: center;
    /* padding-top: 70px; */
    font-size: 40px;
    
    /* SHAPE */
    margin: auto;
    width: 85%;
    display: block;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

#yes{
    background-color: #E84855;
    color: #331a3e;
}

#yes:hover{
    background-color: #B83B45;
}

#no{
    font-size: 35px;
    background-color: #3e92cc;
    color: #331a3e;
}

#no:hover{
    background-color: #005667;
}

a{
    background-color: #439A86;
    color: #331a3e;
    text-decoration: none;
    padding-top: 50px;
}


/* JUST EXPLORING PAGE */

h3{
    color: #f8d555;
    text-align: center;
    margin: 10px 30px;
}

#stroke{
    color: #e84855;
    margin-left: 40px;
    margin-right: 40px;
}

#anaphylactic-shock{
    color: #439a86;
    margin-left: 40px;
    margin-right: 40px;
}

#extreme-headache{
    color: #007991;
    margin-left: 40px;
    margin-right: 40px;
}

#heart-attack{
    color: #f8d555;
    margin-left: 40px;
    margin-right: 40px;
}

ul{
    margin-top: 0px;
}

div h2{
    margin-bottom: 0px;
}

/* EMERGENCY INFO FORM */
#emergencyInfoForm{
    margin: 10px 30px;
    font-size: 30px;
    text-align: center;
}

h3{
    margin: 10px 30px;
    text-decoration: underline;
}

form{
    margin-left: 30px;
    text-align: left;
}

/* input{
    background-color: white;
    display: block;
    margin: 10px 30px;
    width: 80%;
} */

input[type=text]{
    background-color: white;
}

form p{
    text-align: left;
}

label{
    color: #f8d555;
}

form > label{
    /* margin: 5px; */
}

#worseBox, #betterBox{
    width: 85%;
    height: 50px;
}

